.menu {
  float: right;
  width: 300px;
}

.input {
  margin-top: 10%;
  margin-left: 40%;
}

div.polaroid {
  width: 128px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.paginationBttns a {
  display: flex;
  list-style-type: none;
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid blue;
  color: blue;
  cursor: pointer;
}
.paginationBttns li {
  float: left;
  list-style-type: none;
}

.paginationBttns a:hover {
  color: white;
  background-color: blue;
}

.paginationActive a {
  color: white;
  background-color: blue;
}

.login-form {
  margin: 0 auto;
  top: 25%;
  left: 35%;
  position: absolute;
  width: 500px;
  border: solid 1px rgb(179, 177, 190);
  padding: 15px;
  background-color: rgb(160, 155, 180);
}


#watch-list-header {
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.mylist {
  width: 25%;
}
